<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Your Query Results</title>
</head>
<body>
    <!--TODO Fix correct table position-->
    <div>
        <h2>Your Query Results</h2>
        <h4>@ViewBag.Title</h4>


        <table class="table">

            <tr>
                <!--Ranking is always the first column-->
                <th>Ranking</th>
                <!--Display all rest column names-->
                <!--We have to cast the ViewData to a new collection so that we can iterate with counter later-->
                @foreach (var item in ViewData["columns"] as IList<String>)
                {
                    <th>@item</th>

                }
            </tr>
            <!--Outer loop is capacity of each column : casting viewdata columns as lists to get count-->
           
            @for (int i = 0; i < (ViewData["0"] as IList<String>).Count(); i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <!--Inner loop is number of columns-->

                    @for (int j = 0; j < (ViewData["columns"] as IList<String>).Count(); j++)
                    {
                        var value = (ViewData[j.ToString()] as IList<String>)[i];
                    <td>@value</td>
                    }

                </tr>
            }
        </table>
    </div>
    <p>
        @Html.ActionLink("Back to Reports", "Report", "Reports")
    </p>
</body>
</html>
