@model RecordStore.Models.Track

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailsTrack</title>
</head>
<body>
    <div>
        <h4>Track</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AlbumId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AlbumId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MediaTypeId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MediaTypeId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GenreId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GenreId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Composer)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Composer)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Milliseconds)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Milliseconds)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Bytes)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Bytes)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UnitPrice)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TrackId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
